@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">C# Web 1</h1>
    <gebruiker-info></gebruiker-info>
    
   
</div>
<div class="border border-dark m-4 p-4">
     <p>Dit is een compactere versie van het project, min of meer alles wat we in C#web 1 gezien hebben. 
         Als ik iets ben vergeten, laat gerust iets weten.<br />
        Inbegrepen:  <br/>
        ViewComponent, <br />
        Identity (Registreren, login, roles, koppeling aan gebruikers) <br/>
        Foreign keys <br />
        Modelvalidation <br/>
        Taghelpers <br/>
        Passwordvalidation <br/>
        Viewmodels <br/>
        Met dank aan Rob Sannen <br/>
        Kijk in uitvoering.txt voor uitleg.<br />
    <br />

</p>
</div>

<h4 text-color="warning">Dit is de ChangeTextColorTagHelper</h4>