@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">C# Web</h1>
    <gebruiker-info></gebruiker-info>
    <h4 text-color="warning">Dit is de ChangeTextColorTagHelper</h4>
    
</div>
